body{
    background-color: black;
}

h1 {
    font-size: 70px;
    text-align: center;
    color: white;
}

pre{
    color: blueviolet;
    font-size: 25px;
    text-align: left;
}

li{
    color: blueviolet;
    font-size: 35px;
}

img{
    align-items: left;
    border: solid 5px purple;
    display: inline-block;
    margin-left: 50%;
}

p{
    font-size: 30px;
    color: blueviolet;
    text-align: left;
}
